@media (max-width: 768px) { 
    h1{
        font-size: 2.5rem;
        
    }
    h2{
        font-size: 0.7rem;
    }
    .textTitle2{
        font-size: 3.7rem;
    }
    .MainBanner{
        padding: 0 5rem 2rem;
    }
    .navBar {
        padding: 2.5rem 0rem 2.5rem;
    }
    .mainNav {
        display: none;
    }
    .logo-container{
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: space-between;
        align-items: start;
    }
    .icon-menu{
        display: unset;
    }
    .section{
        height: 100px;
        /* padding-left: 1rem;
        padding-right: 1rem; */
    }
    .container-banner{
        height: 60%;
    }
    .container-banner .textBanner{
        padding: 0 0 0 0px;
    }
    .container-banner .IconStore img{
        width: 8rem;
    }
    .container-banner .imageLanding img{
        width: auto;
        height: 22rem;
    }
    .slider-wrapper{
        width: 100%;
    }
    .inner img{
        border-radius: 0px;
    }
    .section{   
        padding: 0 8rem;
    }
    .container-hr2{
        padding: 0 8rem;
    }
    .botones button img{
        width: 25px;
        height: auto;
    }
    .botones .siguiente{
        right: 4%;
    }
    .botones .anterior{
        left: 4%;
    }
}

