@media (max-width: 768px) {
    .h1{
        font-size: 20rem;
        letter-spacing: 0px;
    }
    .h2{
        font-size: 80;
        line-height: 9000px;
      
    }
    .mainNav {
        display: none;
    }
    .logo-container{
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: start;
    }
    .icon-menu{
        display: unset;
    }
    .section{
        height: 100px;
        /* padding-left: 1rem;
        padding-right: 1rem; */
    }
    
}

